/* Remove unnecssary space */

pre.javascript-container {
	margin-top: -50px;
}

/* Put profile picture aside */
#aboutSlideAside {
    float: right;
}

#thankyouSlideContactMe img {
    width: 32px;
}

/* Remove img reveal.js additions to images */
#thankyouSlideContactMe img, #aboutSlideContactMe img {
    border: 0px;
    margin: 0px 6px 0px 6px;
    background: none;
    vertical-align: middle;
}

#thankyouSlideContactMe, #aboutSlideContactMe {
    margin: 15px 0px;
}

/* Used to center them in slide */
x-square, x-rectangle {
    display: inline-block;
}

/* Talks Slide */

/* Make ul appear horizontal in talks slide */
#talksSlide ul {
    display: inline;
}

#talksSlide ul li {
    list-style-type: none;
    padding-right: 30px;
    float: left;
}

/* Remove img reveal.js additions in talks slide */
#talksSlide img {
    border: 0px;
    background: none;
    width: 40px;
    margin-right: 5px;
    margin-bottom: 0px;
}

/* Templates */

/* Style the form */
form input[type="text"] {
    width: 300px;
    height: 40px;
    font-size: 26px;
    padding: 2px;
}

form input[type="submit"] {
    width: 40px;
    height: 36px;
    vertical-align: top;
}

/* Style the to-do list */
#writing-the-template-slide ul {
    list-style-type: none;
    font-size: larger;
}

#writing-the-template-slide li {
    margin-bottom: 3px;
}

#writing-the-template-slide ul .item-delete {
    color: red;
    font-size: large;
    vertical-align: top;
    cursor: pointer;
}


/* Shadow DOM */

#shadow-dom-motivation ul {
    margin-bottom: 30px;
}

/* Production slide */
#production-slides img {
    width: 80%;
}

/* Custom elements slide */
#custom-elements-alternatives-slide ul {
    width: 700px;
}