#importKittyHtmlSlide pre.javascript-container {
	margin-top: -50px;
}

/* Put profile picture aside */
#aboutSlideAside {
    float: right;
}

#thankyouSlideContactMe img {
    width: 32px;
}

/* Remove img reveal.js additions to images */
#thankyouSlideContactMe img, #aboutSlideContactMe img {
    border: 0px;
    margin: 0px 6px 0px 6px;
    background: none;
    vertical-align: middle;
}

#thankyouSlideContactMe, #aboutSlideContactMe {
    margin: 15px 0px;
}

/* Make ul appear horizontal in talks slide */
#talksSlide ul {
    display: inline;
}

#talksSlide ul li {
    list-style-type: none;
    padding-right: 30px;
    float: left;
}

/* Remove img reveal.js additions in talks slide */
#talksSlide img {
    border: 0px;
    background: none;
    width: 40px;
    margin-right: 5px;
    margin-bottom: 0px;
}