<html>
  <head>
  </head>
  <body>
    <section id="aboutSlide" class="slide">
      <aside id="aboutSlideAside">
        <img src="images/profile.png" />
      </aside>
      <h2>Eran Hirsch</h2>
      <ul>
        <li>Team Leader</li>
        <li>Tech Leader</li>
        <li>Entrepreneur</li>
      </ul>
      <p id="aboutSlideContactMe">
        <small><img src="images/github.png" /><a href="https://github.com/eranhirs">Eran Hirsch</a> / <img src="images/twitter3.png" /><a href="https://twitter.com/hirscheran">@hirscheran</a></small>
      </p>
      <aside class="notes">
        - Check standards in code (id of elements)
      </aside>
    </section>
  </body>
</html>