<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section class="slide">
        <section id="questionsSlide" data-background="images/icon-questionmark.png" data-background-size="50px" data-background-position="10%">
            <h2>Questions?</h2>

            <aside class="notes">
                - Will there be binding in Native Javascript?
            </aside>
        </section>

        <section id="recapSlide" data-background="images/icon-questionmark.png" data-background-size="50px" data-background-position="10%">
            <h2>Recap</h2>
            <p class="fragment grow">Custom Elements</p>
            <p class="fragment grow">HTML Imports</p>
            <p class="fragment grow">Templates</p>
            <p class="fragment grow">Shadow DOM</p>
            <p class="fragment grow">Is Web Components ready for production?</p>
        </section>
    </section>
</body>
</html>