<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section id="recapSlide" class="slide" data-background="images/icon-questionmark.png" data-background-size="50px" data-background-position="10%">
        <h2>Recap</h2>
        <p class="fragment grow">Custom Elements</p>
        <p class="fragment grow">HTML Imports</p>
        <p class="fragment grow">Templates</p>
        <p class="fragment grow">Shadow DOM</p>
        <p class="fragment grow">Is Web Components ready for production?</p>
    </section>
</body>
</html>