<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section class="slide">
        <section id="referencesSlide">
            <h2>References</h2>
            <ul>
                <li><a href="http://webcomponents.org/">http://webcomponents.org/</a></li>
                <li><a href="http://www.polymer-project.org/">http://www.polymer-project.org/</a></li>
                <li><a href="http://www.html5rocks.com/en/tutorials/webcomponents/customelements/">http://www.html5rocks.com/en/tutorials/webcomponents/customelements/</a></li>
                <li><a href="http://www.html5rocks.com/en/tutorials/webcomponents/imports/">http://www.html5rocks.com/en/tutorials/webcomponents/imports/</a></li>
            </ul>
        </section>
    </section>
</body>
</html>