<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section class="slide">
        <section id="talksSlide">
            <h2>Overview of Web Components</h2>
            <ul>
                <li>
                    <h4 class="fragment fade"><img src="../../images/icon-customelements.png" />Custom Elements</h4>
                </li>
                <li>
                    <h4 class="fragment fade"><img src="../../images/icon-htmlimports.png" />HTML Imports</h4>
                </li>
                <li>
                    <h4 class="fragment fade"><img src="../../images/icon-templates.png" />Templates</h4>
                </li>
                <li>
                    <h4 class="fragment fade"><img src="../../images/icon-shadowdom.png" />Shadow DOM</h4>
                </li>
                <li>
                    <h4 class="fragment fade"><img src="../../images/icon-webcomponents.png" />Is Web Components ready for production?</h4>
                </li>
            </ul>
        </section>
    </section>
</body>
</html>