<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section class="slide">
        <section id="thankyouSlide">
            <h1>Thank You</h1>
            <p id="thankyouSlideContactMe" class="contactDetails">
                <a href="https://github.com/eranhirs"><img src="images/github.png" />Eran Hirsch</a> / <a href="https://twitter.com/hirscheran"><img src="images/twitter3.png" />@hirscheran</a>
            </p>
        </section>
    </section>
</body>
</html>